
<h1><%= current_user.name %></h1>
<h4><%= current_user.email %></h4>
<%= button_to 'Editar', edit_user_registration_path(current_user), method: 'get' %>
<%= button_to 'Remover', user_registration_path(current_user), method: 'delete', data: { confirm: 'Você está certo disso?'} %>