<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>
<%= button_to 'Editar', edit_user_registration_path(@user), method: 'get' %>
<%= button_to 'Remover', user_registration_path(@user), method: 'delete', data: { confirm: 'Você está certo disso?'} %>