<div class="bannerHome text-white">
    <div class="h-100 container d-flex flex-column justify-content-between">
        <%= render  "layouts/logo" %>

        <div class="mb-4">
            <h1 class="h1_title">Monte seu prato</h1>
            <h3 class="h3_title">Escolha salada, molho, prato principal, guarnição e bebida</h3>
        </div>
    </div>
</div>