<%= render 'layouts/banner' %>

<h3>Create a Meal Category</h3>
<%= form_with model: @meal_category do |form| %>

    <%= form.text_field :name, placeholder: "name" %>

    <%= form.submit %>

<% end %>
