.bannerbackoff {
    background: #dddddd url("backofficebanner.jpg") no-repeat center;
    background-size: cover;
    background-color: #a9a9a9;
    background-blend-mode: multiply;
    
    
    width: 100%;
    height: 55vh;
}

.h1_title {
    font-size: 4em;
}

.h3_title {
    font-size: 1.7em;
}

.navbarbackoff a {
    font-size: 1.2em;
    color: #B0B0B0;
}

.navbarbackoff a:hover {
    text-decoration: none;
    color: white;
}