* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.boxLeft {
    display: flex;
    width: 70%;
    height: 100%;
}

.imgFront {
    width: 100%;
    height: 100%;
}

.boxRight {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.boxRightInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.title {
    align-self: flex-start;
    font-family: fontAmaranth, sans-serif;
    color: #6b6b6b;
}

form {
    width: 100%;
    margin: 5% 0;
}

.formText {
    color: #868686;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #cecece;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    height: 2.75em;
    margin-top: 5%;
    border: 0;
    border-radius: 4px;
    background-color: #39cc6c;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #29bc5c;
}

.hasAccount {
    width: 100%;
    padding: 5% 0 1% 0;
    border-top: 1px solid #cecece;
    color: #6b6b6b;
    font-family: Ubuntu, 'Open Sans', sans-serif;
}

.signInButton {
    width: 100%;
    border: 1px solid #39cc6c;
    border-radius: 4px;
    color: #39cc6c;
    text-align: center;
    padding: 2.5%;
    text-decoration: none;
}

.signInButton:hover {
    border-color: #29bc5c;
    background-color: #29bc5c;
    color: #ffffff;
}

@font-face {
    font-family: fontAmaranth;
    src: url(https://fonts.gstatic.com/s/amaranth/v8/KtkuALODe433f0j1zMnFHdA.woff2);
}