// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bannerUserHome {
    background: #dddddd url("elli-o-43178.jpg") no-repeat center;
    background-size: cover;
    background-color: #909090;
    background-blend-mode: multiply;

    width: 100%;
    height: 60vh;
}
