// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bannerHome {
    background: #dddddd url("jay-wennington-2065.jpg") no-repeat center;
    background-size: cover;
    background-color: #909090;
    background-blend-mode: multiply;
    
    width: 100%;
    height: 47vh;
}