// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imagemRefeicoes {
    display: flex;
    align-items: flex-end;
    background-image: url("miojo.png");
    background-size: cover;
    background-color: grey;
    height: 27vh;
    width: 100%;
}

.nomeRefeicoes {
    display: flex;
    align-items: center;
    background-color: #1C1C1C;
    background-blend-mode: darken;
    filter: opacity(0.8);
    width: 100%;
    margin: 0;
    height: 5vh;
    color: white;
    padding-left: 4%;
}