// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.screen {
    display: flex;
    width: 100%;
    height: 100vh;
}

.boxLeft {
    width: 70%;
    height: 100%;
}

.imgFront { // Qual a melhor forma de mexer com essa imagem?
    width: 100%;
    height: 100%;
}

.containerImg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 59%;
}

.imgTop {
    background: #dddddd url("restaurant.jpeg") no-repeat center;
    background-size: cover;
    background-color: #909090;
    background-blend-mode: multiply;
}

.containerTopText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
}

.boxRight {
    width: 30%;
    height: 100%;
}

.boxRightInner {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    align-self: flex-start;
    font-family: fontAmaranth, sans-serif;
    color: #555;
}

a.title {
    font-size: xx-large;
    color: #ffffff;
}

a.title:hover {
    color: #ffffff;
}

.pagesText {
    color: #ffffff;
    font-size: medium;
}

.pagesText:hover {
    color: #ffffff;
}

.formText {
    color: #666;
}

.hasAccount {
    border-top: 1px solid #ccc;
    font-size: 1.2em;
    color: #666;
}

.descriptionText {
    font-family: Roboto;
    padding-bottom: 1.5em;
    color: #ffffff;
}

h1#meuPerfil {
    font-size: 425%;
}

.editUserBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editUserMidBox {
    width: 90%;
    height: auto;
    padding-top: 5%;
    color: #707070;
    font-size: small;
}