<head>
    <%= stylesheet_link_tag "meals" %>
</head>

<div class="footer">
    <span>dinnerdash | todos os direitos reservados</span>
    <span class="footerRight">desenvolvido por Trainee da Silva</span>
</div>
