<head>
    <style type="text/css">
        .footer {
            background-color: rgb(235, 235, 235);
            padding: .5em 0;

            color: #6B6C6D;
        }

        .dev {
            font-size: .8em;    
        }
    </style>
</head>

<!--=============================================END_STYLES=============================================-->

<div class="footer">
    <footer class="bs-footer container d-flex justify-content-between align-items-center">

        <span>dinnerdash | todos os direitos reservados</span>
        <span class="dev">desenvolvido por Grupo 4</span>

    </footer>
</div>
