<head>
    <%= stylesheet_link_tag "footer" %>
</head>

<div class="footer">
    <footer class="bs-footer container d-flex justify-content-between align-items-center">

        <span class="cpy">dinnerdash | todos os direitos reservados</span>
        <span class="dev">desenvolvido por Grupo 4</span>

    </footer>
</div>
